@import '../../styles/variables.scss';

section.productDetail {
  display: flex;

  margin-bottom: 7rem;
  margin-top: 3.2rem;

  img {
    max-width: 45rem;
    margin-right: 5rem;
  }

  .price_container{
    max-width: 40rem;
    h1{
      font-size: $large-font;
      margin-bottom: 3.2rem;
    }

    h2 {
      font-size: $huge-font;
      margin-bottom: 3rem;
      font-weight: 500;
    }

    a {
      font-size: 16px;
      background: $blue;
      width: 100%;
      max-width: 23rem;
      display: block;
      padding: 1.5rem;
      text-align: center;
      color: white;
      border-radius: 0.5rem;
    }

    p {
      font-size: $medium-font;
      margin-bottom: 1.6rem;
    }
  }
}

section.desctiption {

  h3{
    font-size: $bigger-font;
    margin-bottom: 3rem;
  }
  p{
    font-size: $medium-font;
    line-height: 2.2rem;
   
  }
}