@import '../../styles/variables.scss';

.product{
  display: grid;
  grid-template-columns: 0.1fr 1.5fr;
  align-items: center;

  padding: 3rem;
  margin-bottom: 3.2rem;


  img {
    max-width: 160px;
  }

  .price_container {
    margin-left: 1.6rem;
    h2 {
      font-size: $large-font;
      font-weight: 600;
      color: $color-font; 

      margin-bottom: 3.2rem;
      img{
        margin-left: 1rem;
      }
    }
    h3 {
      font-size: $default-font;
      font-weight: 500;
      color: $color-font;
      max-width: 330px;
      
    }
  }
}