

// Colors
$main-color: #FFE600;
$black: #000;
$gray: #999999;
$dark-grey: #666666;
$light-gray: #EEEEEE;
$blue: #3483FA;


// Fonts
$small-font: 12px;
$medium-font: 16px;
$default-font: 18px;
$large-font: 24px;
$bigger-font: 28px;
$huge-font: 46px;