@import '../../styles/variables.scss';

.header{
  background: $main-color;
  padding: 1rem 0;
}

.header--flex{
  display: flex;
  justify-content: space-between;

  img {
    margin-right: 5rem;
  }
}